<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- General configuration -->
        <property name="dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="current_session_context_class">thread</property>

        <!-- Mapping Properties -->
        <property name="globally_quoted_identifiers">true</property>

        <!-- Statement logging and statistics -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="highlight_sql">true</property>

        <!-- Automatic schema generation -->
        <property name="hbm2ddl.auto">validate</property>

        <!-- Entities -->
        <mapping class="ru.msvdev.homefinance.data.entity.CategoryEntity"/>
        <mapping class="ru.msvdev.homefinance.data.entity.ExpenseEntity"/>

    </session-factory>
</hibernate-configuration>